@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    color: darkslategray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px darkgray;
}

.form .radek {
    display: block;
    margin-top: 1em;
}

.form .skupina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.form .controls.radek {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    font-weight: bold;
}

.turnus {
    width: 492px;
    padding: 1px 2px;

}
